<h2> Por region </h2>
<hr>

<!-- el tag onValue, usa el metodo de la clase y recibe el $event para que sea dinamico -->
<div class="row">
  <div class="col text-center">
 <button
    class="btn mx-2"
    *ngFor="let region of regions"
    [ngClass]="{'btn-outline-primary': selectedRegion === region}"
    (click)="searchByRegion(region)">
    {{ region }}
  </button>



  </div>


<!-- searchbox -->
    <!-- SE COMENTA, Y QUE AHORA SOLO PERMITO 5 POSIBLES VALORES DESDE LA CLASE -->
    <!-- <shared-shearch-box
    (onDebounce)="searchByRegion($event)"
    placeholder="Buscar por region"
    >
  </shared-shearch-box> -->

</div>


<div class="row">
  <div class="col">
    <hr>
    <countries-table [countries]="countries">
    </countries-table>

  </div>
</div>
