<h2> Por capital </h2>
<hr>

<!-- el tag onValue, usa el metodo de la clase y recibe el $event para que sea dinamico -->
<div class="row">
  <div class="col">
    <!-- searchbox -->
    <shared-shearch-box
    (onValue)="searchByCapital($event)"
    placeholder="Buscar por capital"
    >
  </shared-shearch-box>
  </div>
</div>


<div class="row">
  <div class="col">
    <hr>
    <!-- <ul>
      <li *ngFor="let country of countries">
        {{ country.capital }} -- {{ country.population}}
      </li>
    </ul> -->

    <countries-table [countries]="countries">
    </countries-table>

  </div>
</div>
