<h2> Por capital </h2>
<hr>

<!-- el tag onValue, usa el metodo de la clase y recibe el $event para que sea dinamico -->
<div class="row">
  <div class="col">
    <!-- searchbox -->
    <!-- (onValue)="searchByCapital($event)" -->
    <shared-shearch-box
    (onDebounce)="searchByCapital($event)"
    [initialValue]="initialValue"
    placeholder="Buscar por capital"
    >
  </shared-shearch-box>
  </div>
</div>


<div class="row">
  <div class="col">
    <hr>

    <shared-loading-spinner *ngIf="isLoading"> </shared-loading-spinner>
    <countries-table [countries]="countries">
    </countries-table>

  </div>
</div>
